@font-face {
    font-family: Oswald;
    src: url(../fonts/Oswald-VariableFont_wght.ttf)
}

.container.is-fluid {
    padding: 0;
}

@media (max-width: 1023px) {
    .container.is-fluid {
        padding-left: 10px;
        padding-right: 10px;
    }
}

ul {
    padding-left: 20px;
}

li {
    list-style: circle;
}

/* Background */
.has-image-background {
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
}

@media (max-width: 600px) {
    .has-image-background {
        background-size: 600px;
    }
}

/* Navbar */
#ggj-logo {
    margin-left: 10px;
}

.navbar-item {
    font-family: Oswald, sans-serif;
    color: #111;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}

.navbar-item:hover, .navbar-item.is-active, .pink-link {
    color: #e0457b !important;
}

/* Header */
#page-header {
    height: 100%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.8;
    color: white;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    background-color: #e0457b;
}

/* Subtitle */
.subtitle, .subsubtitle {
    font-family: Oswald, sans-serif;
    color: #3A3939;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
}

.subsubtitle {
    margin-bottom: 7px;
    margin-top: 7px;
    font-size: 18px;
    font-style: italic;
}

.text-content {
    font-family: Roboto, sans-serif;
    color: #767676;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
}

.text-content p:not(:nth-last-of-type(1)) {
    margin-bottom: 10px;
}

.content-card {
    width: 100%;
    background-color: #E0457B;
    padding: 2rem;
}

.content-card .subtitle {
    color: white;
}

.bordered-text {
    color: white;
    border: 5px solid white;
    line-height: 21px;
    border-radius: 23px;
    padding: 1rem;
}

.bordered-text .column {
    padding: 0 !important;;
}

.bordered-text .columns {
    padding: 1rem;
}

.pink-link:hover {
    color: #e08ab0 !important;
}

/* Footer */

#footer-card {
    font-family: Oswald, sans-serif;
    width: 100%;
    background-color: #E0457B;
    padding: 0.5rem;
}

.white-link {
    color: white;
}

.white-link:hover {
    color: #e08ab0;
}