.organizer-image {
    height: 152px;
}

.partner-image {
    height: auto;
    width: auto;
    max-height: 106px;
}

.partner-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.partner-link {
    text-align: center;
}