#illustration-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

#illustration-image img {
    max-width: 507px;
    max-height: 499px;
    width: auto;
    height: auto;
}

#presentation-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#below-presentation-side {
    margin-top: 40px;
    margin-bottom: 40px;
}

#ggjail-specifics {
    margin-bottom: 0.5rem;
}

#text-below-ggjail-specifics {
    line-height: 21px;
    text-align: center;
    font-size: 17px;
    margin-bottom: 2.5rem;
}

#below-border-block {
    margin-top: 2.5rem;
}

.content-card {
    margin-bottom: 2rem;
}

#last-block {
    margin-bottom: 2rem;
}
