@font-face {
    font-family: Oswald;
    src: url(./Oswald-VariableFont_wght.ttf)
}

.h100 {
    height: 100%;
}

.fill-remaining-body {
    height: calc(100% - 52px)
}
#ggj-logo {
    margin-left: 10px;
}

.container.is-fluid {
    padding: 0;
}

.navbar-item {
    font-family: Oswald;
    color: #111;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}

.navbar-item:hover {
    color: #e0457b !important;
}

.navbar-item.is-active {
    color: #e0457b !important;
}


.has-image-background {
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 1000px) {
    .has-image-background {
        background-size: 1000px 600px; /* Force the image to its minimum width */
    }
}