@font-face {
    font-family: Oswald;
    src: url(./Oswald-VariableFont_wght.ttf)
}

.container.is-fluid {
    padding: 0;
}

/* Background */
.has-image-background {
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

@media (max-width: 600px) {
    .has-image-background {
        background-size: 600px;
    }
}

/* Navbar */
#ggj-logo {
    margin-left: 10px;
}

.navbar-item {
    font-family: Oswald, sans-serif;
    color: #111;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}

.navbar-item:hover, .navbar-item.is-active {
    color: #e0457b !important;
}

/* Header */
#page-header {
    height: 100%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.8;
    color: white;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    background-color: #e0457b;
}